@import "bootstrap";
@import "bootstrap/theme";

html,
body {
    height: 100%;
    width: 100%;
}

hr {
    border-width: 5px;
    max-width: 150px;
    //border-color: darken(#c0c5ce, 20%);
    border-color: #a3be8c;
}

hr.light {
    border-color: white;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.text-faded {
    color: fade(white, 70%);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    background-color: #ddd;
    //background: url('http://subtlepatterns.com/patterns/noisy_net.png');
    background-image: url('../img/noisy_net.png');
    //.background-cover;
    //background-position: center;
    //background-image: url('../img/header.jpg');
    text-align: center;
    color: white;
    .header-content {
        position: relative;
        text-align: center;
        padding: 100px 15px 100px;
        width: 100%;
        .header-content-inner {
            h1 {
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;
                color: darken(#c0c5ce, 45%);
                letter-spacing: .35em;
                text-shadow: 4px 2px 2px #111;
                //font-family: 'Oswald', sans-serif;
                //font-family: 'Libre Baskerville', serif;
                font-family: 'Montserrat', sans-serif;
                font-size: 75px;
                //color: darken(#65737e, 15%);
                //color: darken(#96b5b4, 35%);
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 300;
                color: #c0c5ce;
                font-size: 16px;
                margin-bottom: 50px;
                letter-spacing: .02em;
                font-family: 'Libre Baskerville', sans-serif;

            }
        }
    }
    @media (min-width: 768px) {
        min-height: 100%;
        .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-size: 18px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

// Sections

.section-heading {
    margin-top: 0;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}

